@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', 'Arial', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

/* Barra superior com horário e ícones */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 8px;
    padding: 0 20px;

    .iconsTop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        img {
            filter: invert(100%);
            padding-left: 8px;
        }
    }
}

/* Menu com logo e avatar */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    padding: 0 20px;
    
    img {
        height: 100%;
    }
}

/* Inputs */
.top {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    
    p {
        font-size: 16px;
        margin: 10px 0;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }
  
    input {
        padding: 15px;
        border-radius: 12px;
        border: solid 2px #e6e6e6;
        font-size: 16px;
        background-image: url('../img/search.png');
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: 2%;
        padding-left: 50px;
        margin: 30px 0 0 0;
    }
}

/* Cards */
.products {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #F6F6F6;
    margin-top: 20px;
    border-radius: 30px;
    padding: 0 20px;
}

.tabMenu {
    display: flex;
    margin-top: 20px;
    gap: 15px;
    padding: 0 20px;
}

.tabMenu input[type="button"] {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    color: gray;
    cursor: pointer;
}

.tabMenu input[type="button"].active {
    color: white;
    background: #2ecc71;
    padding: 8px 16px;
    border-radius: 20px;
}

.banner {
    height: 200px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 0 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.banner > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
}

.banner img {
    width: 120px;
    align-self: flex-end;
}

.banner h2 {
    font-size: 28px;
    margin: 12px 0 18px 0;
}

.banner a {
    color: #2ecc71;
    font-weight: bold;
    text-decoration: none;
}

.featuredProducts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 0 20px;
}

.featuredProducts h3 {
    font-size: 20px;
}

.featuredProducts a {
    color: gray;
    font-size: 16px;
    text-decoration: none;
}

.productCard {
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 8px;
    height: 100%;;
}

.productCard > div {
    position: relative;
    bottom: 0;
}

.productCard img {
    width: 110px;
}

.productCard p {
    font-size: 14px;
}

.productCard span {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}